[Unit]
Description=Radarr Daemon
Requires=gmedia-movies.service
Wants=network-online.target
After=sabnzbd.service

[Service]
User=radarr
Group=media
Type=simple
ExecStart=/usr/bin/mono /opt/Radarr/Radarr.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
